<phpunit>
   <testsuites>
      <testsuite name="cs445">
         <file>MemDBTest.php</file>
         <file>BookingDateTest.php</file>
         <file>AvailabilityTest.php</file>
         <file>ReservationTest.php</file>
         <!--<file>HostelTest.php</file> -->
      </testsuite>
   </testsuites>
</phpunit>
